.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: bisque;
}

main {
  display: flex;
  flex-direction: column;
}

.Join {
  background-color: antiquewhite;
}

.cash {
  background-color: rgb(22, 199, 37);
}
